*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}


body{
    display: grid;

    font-family: "Roboto", sans-serif;

    min-height: 100vh;
    place-items: center;
    
    

}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr); 
    gap: 10px; 
}



.rectangel1{
    display: grid;
    background-color: #007F5F;
    width: 448px;
    height: 195px;
    



}
.rectangel2{
    display: grid;
    background-color: #2B9348;
    width: 448px;
    height: 414px;


}

.rectangel3{
    display: grid;
    background-color: #dddf00;
    width: 448px;
    height: 122px;


}

.rectangel4{
    display: grid;
    background-color: #eeef20;
    width: 448px;
    height: 122px;


}

.rectangel5{
    display: grid;
    background-color: #eeef20;
    width: 448px;
    height: 122px;


}

.rectangel6{
    display: grid;
    background-color: #ffff3f;
    width: 448px;
    height: 122px;


}



.rectangel7{
    display: grid;
    background-color: #55A630;
    width: 448px;
    height: 268px;


}

.rectangel8{
    display: grid;
    background-color: #AACC00;
    width: 212px;
    height: 122px;


}

.rectangel9{
    display: grid;
    background-color: #bfd200;
    width: 212px;
    height: 122px;



}

.rectangel10{
    display: grid;
    background-color: #D4D700;
    width: 448px;
    height: 268px;


}

.rectangel11{
    display: grid;
    background-color: #007F5F;
    width: 212px;
    height: 268px;


}


.rectangel12{
    display: grid;
    background-color: #007F5F;
    width: 448px;
    height: 195px;


}


